<mat-toolbar color="primary">
    <h1>Добавить карточку</h1>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <div class="container-fluid mt-3">
    <form novalidate class="col-md-12" [formGroup]="addForm" #formDirective="ngForm">
      <div class="form-row">
        <div class="col-md-6">
          <mat-form-field>
            <input id="input-name" matInput type="text" placeholder="Название карточки" formControlName="name">
            <mat-error *ngIf="addForm.controls['name'].hasError('required')">Название карточки не может быть пустым</mat-error>
            <mat-error *ngIf="addForm.controls['name'].hasError('maxlength')">Длина строки не может превышать 50 символов</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Время исполнения</mat-label>
            <mat-select id="select-time-of-completion" formControlName="timeOfCompletion">
              <mat-option *ngFor="let item of timeOfCompletionArr" [value]="item.id">
                {{item.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addForm.controls['timeOfCompletion'].hasError('required')">Поле время исполнения не может быть пустым</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Приоритет</mat-label>
            <mat-select id="select-priority" formControlName="priority">
              <mat-option *ngFor="let item of priorityArr" [value]="item.id">
                {{item.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addForm.controls['priority'].hasError('required')">Поле приоритет не может быть пустым</mat-error>
          </mat-form-field>
        </div>
      </div>
     </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancelClick()">
    Отмена
  </button>
  <button id="submit-button"
    [disabled]="addForm.controls.name.invalid || addForm.controls.timeOfCompletion.invalid || addForm.controls.priority.invalid"
    mat-raised-button (click)="onApplyClick()">
    Применить
  </button>
</mat-dialog-actions>
